{% extends 'base.html' %}

{% block title %}Registro{% endblock %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-6">
        <div class="card shadow p-4">
            <h2 class="mb-4 text-center">Crear Nueva Cuenta</h2>

            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <div class="d-grid mt-3">
                    <button type="submit" class="btn btn-success btn-lg">
                        <i class="bi bi-person-plus-fill"></i> Registrarse
                    </button>
                </div>
            </form>

        </div>
    </div>
</div>
{% endblock %}
